name: Daily Telegram Klenkes Digest
on:
  workflow_dispatch:
  schedule:
    - cron: "0 12 * * *"
env:
  API_TOKEN: ${{ secrets.TG_APITOKEN}}
  CHAT_ID: ${{ secrets.TG_CHATID }}
jobs:
  messageInABottle:
    name: "Telegram Klenkes Digest"
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v2
      - name: Build
        # install dependencies for scraper script
        run: npm ci
        working-directory: ./sh/digest-events-message
      - name: Set message
        run: |
         echo "MESSAGE=$(node ./sh/digest-events-message/ ./_data/events/$(date +"%Y-%m-%d").json)" >> $GITHUB_ENV
      - name: Send telegram message
        run: |
          echo ${{ env.MESSAGE }}
          # curl -s -X POST https://api.telegram.org/bot$API_TOKEN/sendMessage -d chat_id=$CHAT_ID -d text="$MESSAGE" -d parse_mode=HTML -d protect_content=true -d disable_notification=true > /dev/null 2>&1
